.footer {
  display: block;
  box-shadow: 0 -1px 0 #e1e7ed;

  .footer__wrapper {
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 44px 120px 46px 0;

    .footer__section {

      .footer__title {
        font-family: "Avenir Heavy", sans-serif;
        @include text-font;
        margin: 0;
        margin-bottom: 23px;
      }

      .footer__nav {
        margin: 0;

        .list__item {
          margin-top: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .footer__wrapper {
      width: 100%;
      margin-bottom: 90px;
      padding: 20px $side-padding-900;
    }

    @media (max-width: 600px) {
      .footer__wrapper {
        padding: 10px $side-padding-600;
      }
    }
  }
}
