.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 26px;
}

.header {
  font-family: "Avenir Heavy", sans-serif;
  height: 60px;
  box-shadow: 0 1px 0 #e1e7ed;

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 374px;

    .header__link {
      position: relative;
    }

    .header__link:hover {
      &:after {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        top: 195%;
        left: 0;
        width: 100%;
        background: $text-color;
      }
    }

    .header__user-avatar {
      width: $user-avatar-size;
      height: $user-avatar-size;
    }
  }
}
