.main-content {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 330px;
  column-gap: 90px;
  margin: $main-cont-grid-top-gap auto;

  .content-block-description,
  .content-block-review,
  .content-block-host-information {
    color: $text-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }

  .content-block-description {

    .headline {
      margin-top: 0;
    }

    .type-of-apartment {
      color: #687c94;
    }

    .specifications-short {
      width: 250px;
      display: flex;
      justify-content: space-between;
    }

    .description {
      line-height: 24px;
    }

    .amenitise-list {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat();
      justify-content: space-between;

      p {
        margin: 10px 0;
      }
    }

    .amenitise-full-list {
      background-color: inherit;
      border: none;
      margin: 15px 0 0;
      padding: 0;
      display: block;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content-block-review {
    margin-top: 40px;

    .smaller-headline {
      font-family: "Roboto", sans-serif;
    }

    .user-photo {
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #c4c4c4;
      margin-right: 20px;
    }

    .user-name {
      margin: 10px 20px;
      font-size: $smaller-font-size;
      line-height: $smaller-line-height;
    }
  }

  .content-block-host-information {
    margin-top: 40px;

    .host-place {
      margin-top: 5px;
      font-size: $smaller-font-size;
      line-height: $smaller-line-height;
    }

    .contact-host {
      width: 150px;
      height: 50px;
      border: 1px solid $btn-color;
      background: none;
      border-radius: 4px;
      color: $btn-color;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: rgba($btn-color, 0.03);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main-content {
    grid-template-columns: 100%;
    width: 100%;
    padding: 0 $side-padding-900;
  }

  @media (max-width: 600px) {
    .main-content {
      padding: 0 $side-padding-600;
    }
  }
}
