.footer {
  display: block;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 -1px 0 #e1e7ed;

  .footer__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 44px 120px 46px 0;

    .footer__section {

      .footer__title {
        font-family: "Avenir Heavy", sans-serif;
        color: $text-color;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        margin-bottom: 23px;
      }

      .footer__link {
        color: $text-color;
        font-size: 16px;
        line-height: 19px;
      }

      .footer__nav {
        margin: 0;

        .list__item {
          margin-top: 12px;
        }
      }
    }
  }
}
