@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "photo-container";
@import "main-content";

.link {
  display: block;
  text-decoration: none;
}

.logo {
  width: 30px;
  height: 30px;
}
