@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "photo-container";
@import "footer";

html {
  width: 100%;
}

.link {
  display: block;
  text-decoration: none;
}

.logo {
  width: 30px;
  height: 30px;
}

.list {
  padding: 0;

  .list__item {
    list-style: none;
  }
}
