$description-color: #687c94;
$text-color: #3d4e61;
$btn-color: #118488;
$base-font-size: 16px;
$base-line-height: 19px;

/* Header */

$user-avatar-size: 30px;

/* Book-form */

$book-form-btn-color: #fd5c63;
$book-form-btn-color_hover: #fd4851;
$book-form-border-color: #e1e7ed;
$book-form-border-r: 3px;

/* Main-Content */

$main-cont-grid-top-gap: 40px;
